# ─────────────────────────────────────────
# Copy this file to .env and change values
# marked with <CHANGE_ME>
# ─────────────────────────────────────────

# ─── auth-server ──────────────────────────
AUTH_SERVER_HOST=auth-server
AUTH_SERVER_PORT=9000

AUTH_DB_HOST=auth_db
AUTH_DB_PORT=5432
AUTH_DB_NAME=api_gateway_auth_server_db
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=change_me        # <CHANGE_ME>

AUTH_SERVER_ISSUER=http://auth-server:9000

# ─── payment-service ──────────────────────
PAYMENT_SERVICE_HOST=payment-service
PAYMENT_SERVICE_PORT=8080

PAYMENT_DB_HOST=payment_db
PAYMENT_DB_PORT=5432
PAYMENT_DB_NAME=api_gateway_db
PAYMENT_DB_USER=postgres
PAYMENT_DB_PASSWORD=change_me     # <CHANGE_ME>

# ─── notification-service ─────────────────
NOTIFICATION_SERVICE_HOST=notification-service
NOTIFICATION_SERVICE_PORT=8081

NOTIFICATION_DB_HOST=notification_db
NOTIFICATION_DB_PORT=5432
NOTIFICATION_DB_NAME=api_gateway_notifications_db
NOTIFICATION_DB_USER=postgres
NOTIFICATION_DB_PASSWORD=change_me  # <CHANGE_ME>

# ─── infrastructure ───────────────────────
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest              # <CHANGE_ME> (if not locally)

REDIS_HOST=redis
REDIS_PORT=6379